[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MBmca"]
	path = MBmca
	url = https://github.com/pcruniversum/mbmca
[submodule "PCRedux"]
	path = PCRedux
	url = https://github.com/pcruniversum/pcredux
[submodule "RDML"]
	path = RDML
	url = https://github.com/pcruniversum/rdml
[submodule "chipPCR"]
	path = chipPCR
	url = https://github.com/pcruniversum/chippcr
[submodule "shinyMolBio"]
	path = shinyMolBio
	url = https://github.com/pcruniversum/shinymolbio
