[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "chipPCR"]
	path = chipPCR
	url = https://github.com/pcruniversum/chippcr
	shallow = true
	registered = true
[submodule "MBmca"]
	path = MBmca
	url = https://github.com/pcruniversum/mbmca
	shallow = true
	registered = true
[submodule "PCRedux"]
	path = PCRedux
	url = https://github.com/pcruniversum/pcredux
	shallow = true
	registered = true
[submodule "RDML"]
	path = RDML
	url = https://github.com/pcruniversum/rdml
	shallow = true
	registered = true
[submodule "shinyMolBio"]
	path = shinyMolBio
	url = https://github.com/pcruniversum/shinymolbio
	shallow = true
	registered = true
